<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- <link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"> -->


<dom-module id="gestor-clientes">
  <template>
    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

<div class="container">
  <div class="row">
    <h1>Gestor Clientes</h1>
    <button on-click="obtenerClientes" class="btn btn-success" type="button" name="button">Carga clientes</button>
  </div>
</div>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }

    // obtenerClientes(){
    //   const url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false;
    //
    //   (async function(){
    //     var responseJSON = await fetch(url);
    //     productosObtenidos =  await responseJSON.json();
    //     console.log(productosObtenidos);
    //     this.clientes = productosObtenidos.value;
    //   })();
    //
    // }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
