<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<dom-module id="mi-visor">
  <template>
    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

<div class="container">
  <div class="row">
    <img  src="https://image.flaticon.com/icons/svg/427/427735.svg" alt="">
  </div>
  <div class="row">

    <button on-click="incrementar" class="btn btn-success" type="button" name="button">Carga datos</button>
    <input type="text" name="" placeholder=[[prop3]] value="{{prop1::input}}">
    <input type="text" name=""  value="[[prop1]]">

  </div>
  <div class="row">
    <table class="table table-striped col.lg-12 col-xs-12">
        <head>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
      </head>
      <tbody>
        <tr>
          <td>[[prop2]]</td>
          <td>Elena</td>
          <td>Ninito</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Estaban</td>
          <td>Quito</td>
        </tr>
      </tbody>

    </table>
  </div>
</div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
          },
          prop2:{
            type:Number,
            value:999
          },
          prop3:{
            type:  String,
            value: 'Indique Su usuario'
          }
        };
      }

      incrementar(){
        this.prop2 ++;
        console.log(this.prop1)
        console.log(this.prop2)
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
